/* HTML5 Support for old browsers */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

iframe {
    display: block;
    margin: 0 auto;
}
iframe::after {
    color: pink;
    content: "Map PLACEHOLDER";
}
span {
    margin: 0;
    padding: 0;
}
body {
    background: url("images/BLACKBOARDCROP-LOW-BRI.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-color: #333;
    margin: 0;
    padding: 0;
    color: #1b7189;
}
/* HEADER */
#header {
    position: fixed;
    margin: 0;
    width: 100%;
    color: white;
    transition: all 0.3s;
    font: 400 14px/25px Raleway, Arial,sans-serif !important;
    z-index: 10;

}
.header {
    height: 68px;
    background-color: rgba(0,0,0,0);
}
.header-scrolled {
    height: 50px;
    background-color: rgba(0,0,0,0.3);
}
#header-placeholder{
    height: 68px;
}
#social::after{
    content: "  ➞";
}

#social-links a {
    color: white;
    width: 0px;
    display: inline-block;
    margin-left: 25px;
}

.even-flex-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#sidebarCollapse {
  background-color: white;
  border-radius: 0px;
  font-size: 2em;
  padding: 1% 2%;
  position: fixed;
  z-index: 1;
  top: 60%;
  left: 0%;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  transform-origin: top left;
  /*-webkit-transform: scaleY(-1);
    transform: scaleY(-1);*/
}

#sidebarCollapse .fa-bars {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 3rem;
}

/* SIDEBAR */
#sidebar {
    min-width: 400px;
    position: fixed;
    top: 0;
    left: -90vh;
    height: 100vh;
    width: 25vw;
    z-index: 999;
    background: #262626;
    color: #999999;
    transition: all 0.3s;
}

#dismiss {
  font-size: 40px;
  text-align: right;
  margin-right: 30px;
  cursor: pointer;
}

#sidebar ul {
  border-bottom: 1px solid;
}

#sidebar .sidebar-content {
  margin-left: 20%;
  margin-right: 15%;
  margin-top: 5%;
}

#sidebar li a {
  font-size: 2rem;
  font-weight: bold;
  color: #999999;
}

#sidebar a:hover {
  text-decoration: none;
}

#sidebar a {
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

#sidebar.active {
    left: 0;
}


/* --------SECTIONS-------- */
section {
    margin: 0 auto;
    text-align: center;
}

#about {
    height: 100vh;
}

.booking-form-scrolled {
    transform: scale3d(1,0,1);
}
#booking-form-wrapper{
    margin: 20vh auto;
    width: 24vw;
    height: 15vh;
    min-height: 100px;
    min-width: 250px;
}
#booking-form {
    width: 70%;
    height: 100px;
    background-color: #f5e69c;
    transition: all 0.3s ease-out;
}
#general-photo-carousel{
    background-color: #262626;
    max-height: 800px;
    overflow: hidden; 
}
/* SECTION STORY */
#story, #contact {
    background-color:#f2f2f2;
}
#story {
    padding-bottom: 5%;
}

#story .hostel-logo-col {
  padding: 0;
    /*background-color: #f5e69c; */  
}

#story .hostel-logo {
  width: 80%;
  margin: 10% auto;
  filter: brightness(.7) hue-rotate(128deg);
  /*brightness(.9) hue-rotate(-14deg);*/
  /*hue-rotate(338DEG) brightness(.92)*/
}

#story .simple-block {
  margin: 10%;
}

#story .video-left {
  background-color: rgb(242, 242, 242);
}

#story .video-right {
  background-color: black;
}

#story video {
  margin-top: 20%;
  margin-bottom: 20%;
}

/* SECTION ROOMS */
#rooms {
    background-color: #f2f2f2;
}

#rooms .six-room {
  background-color: transparent;
  color: #3d626c;
  
}
.about h3,
.six-room h3 {
    color: #1b7189;
}

#rooms h2, #contact h2{
    color:#262626;
}
#rooms .simple-block {
  margin: 10%;
}
.btn-book-now {
    color:white;
    font-size: 20px;
    font-weight: 300;
    height: 47px;
    width: 130px;
    text-align: center;
    margin: 2em auto;
    transition: all .2s;

    background-color: #639aa9;
    border: none 1px white;
    margin: 2em auto;

}
.btn-book-now:hover{
    color: #E7C82D;
    background-color: white;
    border: solid 1px #E7C82D;
}

#rooms .carousel-col {
  padding: 0;
}

/* SECTION CONTACT */
h1,h2,h3 {
    color: black;
    display: inline-block;
}
#about h1, #about h3 {
    color: white;
}
#story h2 {
    color: #262626;
}

h1 {
    font: 900 80px Raleway, Arial;
    margin: 0 auto;
}

h2 {
    font: 800 50px/50px Raleway, Arial;
    margin: 0.5em auto;
}

h3 {
    font: 800 36px Raleway, Arial;
    margin: 0.5em auto;
}

h1::after, h2::after {
    background-color: #f5e69c;
    display: block;
    content: "";
    height: 23px;
}

h1::after {
    margin-top: -19px;
}
h2::after {
    margin-top: -7px;
}

#booking-form h2::after {
    margin-top: -15px;
}
